body {
  margin: 0;
  padding: 0;
}

img {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.candidates--wrapper {
  width: 100%;
  /*background-color: lightyellow;*/
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.candidates--sidebar {
  background-color: lightblue;
  height: 100vh;
  width: 20vw;
}
.candidates--content {
  background-color: lightcoral;
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.candidates--content--search {
  background-color: lightgreen;
  padding: 30px;
}
.candidates--content--users {
  /*background-color: red;*/
  display: -webkit-flex;
  display: -ms-flex;
  padding: 30px;
}


.users {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  /*background-color: black;*/
}
.user {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  /*background-color: cyan;*/
  padding: 30px;
}
.user--photo {
  width: 20%;
}
.user--photo img {
  height: 100px;
}
.user--about {
  /*background-color: yellow;*/
  width: 40%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user--contacts {
  /*background-color: blue;*/
  width: 30%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user--skills-score {
  /*background-color: darkred;*/
  width: 10%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
